<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>ಪ್ರಜಾತತ್ವ</title>



    <link rel="shortcut icon" type="image/png" th:href="@{/image/favicon.png}" />

    <link th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/assets/vendors/aos/dist/aos.css/aos.css}" type="text/css" rel="stylesheet"  />
    <link th:href="@{/assets/css/style.css}" type="text/css" rel="stylesheet"/>
    


</head>
<body>

<header id="header">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="navbar-top">
                <div class="d-flex justify-content-between align-items-center">
                  <ul class="navbar-top-left-menu">
                    <li class="nav-item">
                      <a href="pages/index-inner.html" class="nav-link">Advertise</a>
                    </li>
                    <li class="nav-item">
                      <a href="pages/aboutus.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Write for Us</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">In the Press</a>
                    </li>
                  </ul>
                  <ul class="navbar-top-right-menu">
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Sign in</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a class="navbar-brand" href="#"
                      ><img th:src="@{/image/prajathathva-news-kannada-logo-s-1.png}" alt=""
                    /></a>
                  </div>
                  <div>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                      class="navbar-collapse justify-content-center collapse"
                      id="navbarSupportedContent"
                    >
                      <ul
                        class="navbar-nav d-lg-flex justify-content-between align-items-center"
                      >
                        <li>
                          <button class="navbar-close">
                            <i class="mdi mdi-close"></i>
                          </button>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" th:href="@{/}">ಮುಖಪುಟ</a>
                        </li>
                       <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  ಸುದ್ದಿಗಳು </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/state}">ರಾಜ್ಯ</a>
          <a class="dropdown-item" th:href="@{/national}">ರಾಷ್ಟ್ರೀಯ</a>
          <a class="dropdown-item" th:href="@{/world}">ಜಗತ್ತು</a> </div>
          </li>   
                       <li class="nav-item active">
        <a class="nav-link" th:href="@{/covid19}">ಕೋವಿಡ್-19</a>
      </li>
      
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/sports}">ಕ್ರೀಡೆ</a>
      </li>
      
      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               ಆಚರಣೆ/ಜ್ಯೋತಿಷ್ಯ </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/devotional}">ಆರಾಧನೆ/ಆಚರಣೆ</a>
          <a class="dropdown-item" th:href="@{/astrology}">ಜ್ಯೋತಿಷ್ಯ</a>
         
          </li>   
      
   <!-- -   
        <li class="nav-item active">
        <a class="nav-link" th:href="@{/devotional}">ಆರಾಧನೆ/ಆಚರಣೆ</a>
      </li>
      
        <li class="nav-item active">
        <a class="nav-link" th:href="@{/astrology}">ಜ್ಯೋತಿಷ್ಯ</a>
      </li> --> 
      
        <li class="nav-item active">
        <a class="nav-link" th:href="@{/education}">ಶಿಕ್ಷಣ/ಉದ್ಯೋಗ</a>
      </li> 
                      </ul>
                    </div>
                  </div>
                  <ul class="social-media">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
        
      <div  class="content-wrapper">
          <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                       ಆರಾಧನೆ/ ಆಚರಣೆ
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                  
                  
                  
                    <div class="col-lg-8">
                      
                      
             <!--       <tr th:each="in : ${datalist}" >
<div><td><a th:href="@{/news/{id}(id=${in.id})}"><td  th:text ="${in.title}"></a></td></div>
 <div> <td><img  th:src="@{'/upload/image/' + ${in.id}}"></img></td></div>
            <td th:text ="${in.id}"></td>
            <td th:text ="${in.cat}"></td>
            <td th:text ="${in.id}"></td>
            <td th:text ="${in.cat}"></td>
            </tr>
                      -->  
                      <div th:each="in : ${devo}" class="row">
                        <div class="col-sm-4 grid-margin">
                          <div class="rotate-img">
                            <img
                              th:src="@{'/upload/image/' + ${in.id}}"
                              alt="banner"
                              class="img-fluid"
                            />
                          </div>
                        </div>
                        <div class="col-sm-8 grid-margin">
                          <h2 class="font-weight-600 mb-2">
                           <a th:href="@{/news/{id}(id=${in.id})}"><p  th:text ="${in.title}"/></a>
                          </h2>
                          <p class="fs-13 text-muted mb-0">
                            <span class="mr-2"> <td th:text ="${in.cat}"/></span> <td th:text ="${in.date}"/>
                          </p>
                          <p class="fs-15">
                             <td th:text ="${in.matter}"></td>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <h2 class="mb-4 text-primary font-weight-600">
                        Latest news
                      </h2>
                   
              
                      
                      <div th:each="in : ${latest}"  class="row">
                        <div class="col-sm-12">
                          <div class="pt-4">
                            <div class="row">
                              <div class="col-sm-8">
                                <h6 class="font-weight-600 mb-1">
                                 <a th:href="@{/news/{id}(id=${in.id})}"><p  th:text ="${in.title}"/></a>
                                </h6>
                                <p class="fs-13 text-muted mb-0">
                                  <span class="mr-2"> <td th:text ="${in.cat}"/></span> <td th:text ="${in.date}"></td>
                                </p>
                              </div>
                              <div class="col-sm-4">
                                <div class="rotate-img">
                                  <img
                                     th:src="@{'/upload/image/' + ${in.id}}"
                                    alt="banner"
                                    class="img-fluid"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script th:src="@{/assets/vendors/aos/dist/aos.js/aos.js}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script th:src="@{/assets/js/demo.js}"></script>
    <script th:src="@{/assets/js/jquery.easeScroll.js}"></script>
    <!-- End custom js for this page-->














   
    <!-- -------------devotional----------------------- -->

<tr th:each="in : ${devo}" >
<a th:href="@{/news/{id}(id=${in.id})}"><td  th:text ="${in.title}"></a>
 <div> <td><img  th:src="@{'/upload/image/' + ${in.id}}"></img></td></div>
            <td th:text ="${in.cat}"></td>
             <td th:text ="${in.date}"></td>
            </tr>
            






</body>
</html>